html {
  font-size: 62.5%;
}


#body {
  background-color: #353434;
}

#class7Maths {
  background-color: rgb(103, 103, 103);
  width: 25rem;
  margin-left: 6rem;
  margin-top: 10rem;
  height: 20rem;
  border-radius: 1.5rem;
}
#class7Science {
  background-color: rgb(103, 103, 103);
  width: 25rem;
  margin-left: 40rem;
  margin-top: -23rem;
  height: 20rem;
  border-radius: 1.5rem;
  box-shadow: 0.3rem 0.3rem 0.3rem black;
}

#c7title {
  color: rgb(255, 255, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 3.5rem;
  padding-left: 4.5rem;
  text-shadow: .2rem .2rem .2rem rgb(6, 181, 134);
}

#c7Maths {
  color: rgb(255, 255, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 4rem;
  padding-left: 5.5rem;
  text-shadow: .2rem .2rem .2rem darkblue;
}


#class7Maths {
  box-shadow: .3rem .3rem rgb(0, 0, 0);

}

.header {
  overflow: hidden;
  background-color: #4b4a4a;
  border-radius: 1rem;

}


#logo {
  width: 10rem;
  border-radius: 100%;
}

#worksheets {
  text-align: right;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.5rem;
  margin-top: -2rem;
  color: whitesmoke;
  margin-top: -5rem;

}

#quiz {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: right;
  font-size: 3rem;
  color: whitesmoke;
  padding-right: 20rem;
  margin-top: -5rem;
}

#heading {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  font-size: 3rem;
  color: whitesmoke;
  padding-left: 11rem;
  margin-top: -6rem;
}

#about {
  text-align: right;
  font-size: 3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: whitesmoke;
  padding-right: 34rem;
  margin-top: -6.8rem;
}

#home {
  text-align: right;
  font-size: 3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: whitesmoke;
  padding-right: 45rem;
  margin-top: -6.3rem;
}

@media(max-width: 998px) {
  html {
    font-size: 55%;
  }
}

@media(max-width: 768px) {
  html {
    font-size: 45%;
  }
}

@media(max-width: 685px) {
  html {
    font-size: 39%;
  }

  @media(max-width: 500px) {
    html {
      font-size: 31%;
    }
  }

  @media(max-width: 400px) {
    html {
      font-size: 25%;
    }
  }

}