html {
  font-size: 62.5%;
}




#body {
  background-image: url("bg1'.avif");
  background-size: 100%;
  background-position: top;
  background-repeat: repeat;

}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #4b4a4a;
  border-radius: 1rem;

}

/* Style the header links */

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
#logo {
  width: 10rem;
  border-radius: 100%;
}

/* Change the background color on mouse-over */


/* Style the active/current link*/
.header a.active {

  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500 wide or less, stack the links on top of each other */

.header-right {
  float: none;
}

#slogan {
  margin-top: 18rem;
  text-align: center;
  font-size: 10rem;
  font-family: 'Pacifico', cursive;
  color: rgb(228, 175, 69);


}

#bottom_slogan {
  text-align: center;
  font-size: 7rem;
  color: rgb(148, 199, 90);
  font-family: 'Pacifico', cursive;
}

#footer {
  color: rgb(23, 154, 154);
  font-size: 3rem;
  background-color: rgba(142, 11, 122, 0.42);
  border-radius: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8rem;

}

#worksheets {
  text-align: right;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.5rem;
  margin-top: -2rem;
  color: whitesmoke;
  margin-top: -5rem;

}

#quiz {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: right;
  font-size: 3rem;
  color: whitesmoke;
  padding-right: 20rem;
  margin-top: -5rem;
}

#heading {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  font-size: 3rem;
  color: whitesmoke;
  padding-left: 11rem;
  margin-top: -6rem;
}

#about {
  text-align: right;
  font-size: 3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: whitesmoke;
  padding-right: 34rem;
  margin-top: -6.8rem;
}

#home {
  text-align: right;
  font-size: 3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: whitesmoke;
  padding-right: 45rem;
  margin-top: -6.3rem;
}

@media(max-width: 998px) {
  html {
    font-size: 55%;
  }
}

@media(max-width: 768px) {
  html {
    font-size: 45%;
  }
}

@media(max-width: 685px) {
  html {
    font-size: 39%;
  }

  @media(max-width: 500px) {
    html {
      font-size: 31%;
    }
  }

  @media(max-width: 400px) {
    html {
      font-size: 25%;
    }
  }

}